.actor-regular {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home-container {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.banner-container {
  position: relative;
  width: 60%; 
  max-width: 1100px;
  height: 500px; 
  margin: 40px auto 0; 
  overflow: hidden;
  border-radius: 8px;
}

.banner {
  width: 100%;
  height: 90%;
  display: block;
  border-radius: 3px;
}

.texto-bemvindo {
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  font-family: "Actor", sans-serif;
}

.texto-bemvindo h1 {
   font-size: 20px; 
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -40px;
}

.texto-bemvindo h2 {
  font-size: 28px;
  font-weight: bold;
  max-width: 40%;
}

.conteudo-ouvidoria {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  max-width: 1100px;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap; 
}

.dropdown-container {
  flex: 1; 
  display: flex;
  flex-direction: column; 
}

.descricao {
  flex: 2;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  border-radius: 9px;
  padding: 10px;
  max-width: 35%; 
  margin-left: 50%;
  margin-top: -200px;
  order: 2; 
}

.botao-horario {
  display: block;
  margin: 20px auto;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 14px 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.icone-social {
  width: 20px;
  margin: 0 6px;
  filter: grayscale(100%);
}

.info-rodape,
.contato-rodape {
  margin-top: 10px;
}